<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h1>Stocks</h1>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<table>
			<thead>
			<tr>
				<th>Symbol</th>
				<th>Date</th>
				<th>Open</th>
				<th>Close</th>
				<th>Volume</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let quote of history">
				<td>{{quote.symbol}}</td>
				<td>{{quote.date | date: 'MMM dd, yyyy'}}</td>
				<td>{{quote.open | currency:'USD':'symbol'}}</td>
				<td>{{quote.close | currency:'USD':'symbol'}}</td>
				<td>{{quote.volume}}</td>
			</tr>
			</tbody>
		</table>
	</mat-card-content>
	<mat-card-actions>
	</mat-card-actions>
</mat-card>
