<md-card>
  <md-card-header>
    <md-card-title>
      <h1>Performance</h1>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <div style="display: block">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </md-card-content>
</md-card>
