<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Performance</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="display: block">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </mat-card-content>
</mat-card>
