<div class="mdl-grid">
  <!--<ui-view class="mdl-cell&#45;&#45;12-col"></ui-view>-->
  <app-portfolio-list portfolios="$ctrl.portfolios"
                  select="$ctrl.setCurrentPortfolio(portfolio)"
                  delete="$ctrl.deletePortfolio($event, id)"
                  class="mdl-cell--4-col"></app-portfolio-list>
  <app-portfolio-details portfolio="$ctrl.currentPortfolio" save="$ctrl.savePortfolio(portfolio)" class="mdl-cell--4-col"></app-portfolio-details>
  <div class="mdl-cell--4-col">
    <div class="mdl-card mdl-shadow--2dp">
      <!--<tabs active="0">
        <tab label="Active">
          <heading>Active portfolios</heading>
          <content>
            <app-active-portfolios portfolios="$ctrl.portfolios"></app-active-portfolios>
          </content>
        </tab>
        <tab label="Risk">
          <heading>Portfolios by risk</heading>
          <content>
            <app-portfolios-by-risk portfolios="$ctrl.portfolios"></app-portfolios-by-risk>
          </content>
        </tab>
      </tabs>-->
    </div>
  </div>
</div>
