:host >>> mat-list-item:hover {
    cursor: pointer;
    background: whitesmoke;
}

mat-card-content {
    margin-top: 10px;
    margin-bottom: 0;
}

mat-card-actions {
    margin-bottom: 0;
}

.full-width {
    width: 100%;
}
