:host >>> md-list-item:hover {
    cursor: pointer;
    background: whitesmoke;
}

md-card-content {
    margin-top: 10px;
    margin-bottom: 0;
}

md-card-actions {
    margin-bottom: 0;
}

.full-width {
    width: 100%;
}