<!--
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <div class="demo-header mdl-layout__header mdl-color-text--white">
    <header class="">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Dashing</span>
      </div>
    </header>
  </div>
  <div class="demo-drawer mdl-color-text--white mdl-layout__drawer mdl-color--blue-grey-900">
    <div class="demo-avatar-dropdown">
      <img src="assets/user.jpg" class="demo-avatar">
      <span>hello@example.com</span>
    </div>
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
      <a routerLink="/home" class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
      <a routerLink="/portfolios" class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">work</i>Portfolios</a>
      <a routerLink="/stocks" class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">trending_up</i>Stocks</a>
      <div class="mdl-layout-spacer"></div>
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    <router-outlet></router-outlet>
  </main>
</div>
-->

<md-toolbar color="primary">
  <button class="app-icon-button" (click)="sidenav.toggle()">
    <i class="material-icons app-toolbar-menu">menu</i>
  </button>
  <span>
    Dashing Angular
  </span>
</md-toolbar>

<md-sidenav-container>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <nav md-tab-nav-bar>
      <a md-tab-link
        class="sidenav"
        *ngFor="let link of links"
        [routerLink]="link.path"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        <md-icon>{{link.icon}}</md-icon>
        {{link.label}}
      </a>
    </nav>


    <!--<a routerLink="/home" class="mdl-navigation__link" href=""><i class="mdl-color-text&#45;&#45;blue-grey-400 material-icons" role="presentation">home</i>Home</a>-->
    <!--<a routerLink="/portfolios" class="mdl-navigation__link" href=""><i class="mdl-color-text&#45;&#45;blue-grey-400 material-icons" role="presentation">work</i>Portfolios</a>-->
    <!--<a routerLink="/stocks" class="mdl-navigation__link" href=""><i class="mdl-color-text&#45;&#45;blue-grey-400 material-icons" role="presentation">trending_up</i>Stocks</a>-->
  </md-sidenav>

  <div class="app-content">
    <!--

    <md-card>
      <button md-button>FLAT</button>
      <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
      <button md-raised-button color="accent">ACCENT RAISED</button>
    </md-card>

    <md-card>
      <md-checkbox>Unchecked</md-checkbox>
      <md-checkbox [checked]="true">Checked</md-checkbox>
      <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
      <md-checkbox [disabled]="true">Disabled</md-checkbox>
    </md-card>

    <md-card>
      <md-radio-button name="symbol">Alpha</md-radio-button>
      <md-radio-button name="symbol">Beta</md-radio-button>
      <md-radio-button name="symbol" disabled>Gamma</md-radio-button>
    </md-card>

    <md-card class="app-input-section">
      <md-input-container>
        <input mdInput placeholder="First Name">
      </md-input-container>

      <md-input-container>
        <input mdInput #nickname maxlength="50">
        <md-hint align="end">
          {{nickname.characterCount}} / 50
        </md-hint>
      </md-input-container>


      <md-input-container>
        <input mdInput>
        <md-placeholder>
          <i class="material-icons app-input-icon">android</i> Favorite phone
        </md-placeholder>
      </md-input-container>
    </md-card>

    <md-card>
      <md-list class="app-list">
        <md-list-item *ngFor="let food of foods">
          <h3 md-line>{{food.name}}</h3>
          <p md-line class="demo-secondary-text">{{food.rating}}</p>
        </md-list-item>
      </md-list>
    </md-card>

    <md-card>
      <md-spinner class="app-spinner"></md-spinner>
      <md-spinner color="accent" class="app-spinner"></md-spinner>
    </md-card>

    <md-card>
      <label>
        Indeterminate progress-bar
        <md-progress-bar
          class="app-progress"
          mode="indeterminate"
          aria-label="Indeterminate progress-bar example"></md-progress-bar>
      </label>

      <label>
        Determinate progress bar - {{progress}}%
        <md-progress-bar
          class="app-progress"
          color="accent"
          mode="determinate"
          [value]="progress"
          aria-label="Determinate progress-bar example"></md-progress-bar>
      </label>
    </md-card>

    <md-card>
      <md-tab-group>
        <md-tab label="Earth">
          <p>EARTH</p>
        </md-tab>
        <md-tab label="Fire">
          <p>FIRE</p>
        </md-tab>
      </md-tab-group>
    </md-card>

    <md-card>
      <md-icon>build</md-icon>
    </md-card>

    <md-card>
      <button md-button [md-menu-trigger-for]="menu">
        MENU
      </button>
    </md-card>

    <md-menu #menu="mdMenu">
      <button md-menu-item>Lemon</button>
      <button md-menu-item>Lime</button>
      <button md-menu-item>Banana</button>
    </md-menu>
  -->
  <router-outlet></router-outlet>
  </div>

</md-sidenav-container>

