<md-toolbar color="primary">
  <button (click)="sidenav.toggle()" md-mini-fab><md-icon>menu</md-icon></button>
  <span>
    Dashing Angular
  </span>
</md-toolbar>

<md-sidenav-container>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <nav>
      <a md-button
        class="nav-link"
        *ngFor="let link of links"
        [routerLink]="link.path"
        routerLinkActive="active">
        <md-icon>{{link.icon}}</md-icon> &nbsp;
        {{link.label}}
      </a>
    </nav>
  </md-sidenav>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>

