<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h1>Portfolios</h1>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<mat-list>
			<mat-list-item *ngFor="let portfolio of portfolios" (click)="select.emit(portfolio)">
				<h3 mat-line>{{portfolio.name}} | <span class="symbol">{{portfolio.symbol}}</span></h3>
				<button mat-icon-button *ngIf="!readOnly"
					(click)="delete.emit(portfolio.id);$event.stopImmediatePropagation();">
					<mat-icon>close</mat-icon>
				</button>
				<p mat-line>
          Risk level: <strong>{{portfolio.risk}}</strong> |
          <span *ngIf="portfolio.active">Active</span>
          <span *ngIf="!portfolio.active">Inactive</span>
				</p>
			</mat-list-item>
		</mat-list>
	</mat-card-content>
</mat-card>

