<md-card>
  <md-card-header>
    <md-card-title>
      <h1>Symbols</h1>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <md-radio-group name="symbol" [(ngModel)]="current" (change)="select.emit(current?.id)">
      <md-radio-button name="symbol" [value]="">All</md-radio-button>
      <md-radio-button *ngFor="let symbol of symbols"
                       [value]="symbol">
        {{symbol.entity}} ({{symbol.code}})
      </md-radio-button>
    </md-radio-group>
  </md-card-content>
</md-card>
