<div class="symbols mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--border">
    <h2 class="mdl-card__title-text">Symbols</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <ul class="demo-list-control mdl-list">
      <li *ngFor="let symbol of symbols | async" class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          {{symbol.entity}} ({{symbol.code}})
        </span>
        <span class="mdl-list__item-secondary-action">
          <label class="mdl-radio">
            <input (change)="setCurrentSymbol.emit(current)"
                   [(ngModel)]="current" type="radio"
                   class="mdl-radio__button" name="symbol"
                   [value]="symbol.code" />
          </label>
        </span>
      </li>
    </ul>
  </div>
</div>
