<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Symbols</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-radio-group name="symbol" [(ngModel)]="current" (change)="select.emit(current?.id)">
      <mat-radio-button name="symbol" [value]="">All</mat-radio-button>
      <mat-radio-button *ngFor="let symbol of symbols"
                       [value]="symbol">
        {{symbol.entity}} ({{symbol.code}})
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
</mat-card>
