<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>
        <span *ngIf="currentPortfolio.id; else prompt">Editing {{originalName}}</span>
        <ng-template #prompt>Create</ng-template>
      </h1>
    </mat-card-title>
  </mat-card-header>
  <form (submit)="savePortfolio($event)">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput placeholder="Name" [(ngModel)]="currentPortfolio.name" type="text" name="name">
      </mat-form-field>
      <div class="select-wrapper">
        <mat-select placeholder="Risk level" [(ngModel)]="currentPortfolio.risk" name="risk" class="full-width" >
          <mat-option *ngFor="let risk of risks$ | async" [value]="risk.id">{{risk.description}}</mat-option>
        </mat-select>
        <mat-select placeholder="Stock symbol" [(ngModel)]="currentPortfolio.symbol" name="symbol" class="full-width">
          <mat-option *ngFor="let symbol of symbols$ | async" [value]="symbol.code">{{symbol.entity + ' (' + symbol.code + ')'}}</mat-option>
        </mat-select>
      </div>
      <mat-checkbox name="active" [(ngModel)]="currentPortfolio.active">Active</mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button>Save</button>
      <button type="button" mat-button (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
