/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    height:100%;
    display: flex;
}

md-toolbar-row {
    justify-content: space-between;
}

p {
    margin: 16px;
}

[md-raised-button] {
    width: 100%;
}

md-grid-list {
    max-width: 1403px;
    margin: 16px;
}

md-sidenav-layout {
    height: 100vh;
}

md-sidenav {
    width: 320px;
}

md-sidenav a {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 47px;
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding: 0 16px;
    position: relative;
}







.icon-20 {
    font-size: 20px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

table {
    border-collapse: collapse;
    border-radius: 2px;
    border-spacing: 0;
    margin: 0 0 32px;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

th {
    font-size: 16px;
    font-weight: 400;
    padding: 13px 32px;
    text-align: left;
    color: rgba(0,0,0,.54);
    background: rgba(0,0,0,.03);
}

td {
    color: rgba(0,0,0,.54);
    border: 1px solid rgba(0,0,0,.03);
    font-weight: 400;
    padding: 8px 30px;
}

.container {
    display: flex;
    margin: 10px;
}

.container .col {
    padding: 10px;
}